<div class="menu-left-part col-md-3">
    <div class="jumbotron jumbotron-fluid text-center">
        <!-- <h2 class="display-1 mb-4 pt-4 pb-3 pl-5 pr-5" style="font-size: 40px; font-weight: bold;">Menu Pengolahan Citra</h1> -->
        <div class="container">
            <div class="row">
                <div class="col-md-12 mb-5 menu-section">
                    <div class="accordion" id="umum-accordion">
                        <div class="card">
                            <div class="card-header" id="umum-heading">
                                    <button class="btn btn-link col-md-11" type="button" data-toggle="collapse" data-target="#umum-menu" aria-expanded="false" aria-controls="umum-menu">
                                        <div class="row">
                                            <div class="spacing-button col-md-1">

                                            </div>
                                            <div class="menu-text-areas col-md-8">
                                                <span style="white-space: normal;">Umum</span>
                                            </div>
                                            <div class="icon-arrow col-md-2">
                                                <i class="fa fa-chevron-down" aria-hidden="true"></i>
                                            </div>
                                        </div>
                                    </button>
                            </div>
                
                            <div id="umum-menu" class="collapse" aria-labelledby="umum-heading" data-parent="#umum-accordion">
                                <div class="card-body" style="padding: 0px !important;">
                                    <form action="{{ url_for('normal') }}" method="POST" enctype="multipart/form-data">
                                        <button type="submit" class="btn btn-outline-primary col-md-12"><span style="white-space: normal;">Normal</span></button>
                                    </form>
                                    <form action="{{ url_for('grayscale') }}" method="POST" enctype="multipart/form-data">
                                        <button type="submit" class="btn btn-outline-primary col-md-12"><span style="white-space: normal;">Grayscale</span></button>
                                    </form>
                                    <form action="{{ url_for('binary') }}" method="POST" enctype="multipart/form-data">
                                        <button type="submit" class="btn btn-outline-primary col-md-12"><span style="white-space: normal;">Binary</span></button>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>                


                <div class="col-md-12 mb-5 menu-section">
                    <div class="accordion" id="morphology-operation-accordion">
                        <div class="card">
                            <div class="card-header" id="morphology-operation-heading">
                                
                                    <button class="btn btn-link col-md-11" type="button" data-toggle="collapse" data-target="#morphology-operation-menu" aria-expanded="false" aria-controls="morphology-operation-menu">
                                        <div class="row">
                                            <div class="spacing-button col-md-1">

                                            </div>
                                            <div class="menu-text-areas col-md-8">
                                                <span style="white-space: normal;">Operasi Morfologi</span>
                                            </div>
                                            <div class="icon-arrow col-md-2">
                                                <i class="fa fa-chevron-down" aria-hidden="true"></i>
                                            </div>
                                        </div>
                                    </button>
                                
                            </div>
                            <div id="morphology-operation-menu" class="collapse" aria-labelledby="morphology-operation-heading" data-parent="#morphology-operation-accordion">
                                <div class="card-body" style="padding: 0px !important;">
                                    <form action="{{ url_for('dilasi') }}" method="POST" enctype="multipart/form-data">
                                        <button type="submit" class="btn btn-outline-primary col-md-12"><span style="white-space: normal;">Dilasi</span></button>
                                    </form>
                                    <form action="{{ url_for('erosi') }}" method="POST" enctype="multipart/form-data">
                                        <button type="submit" class="btn btn-outline-primary col-md-12"><span style="white-space: normal;">Erosi</span></button>
                                    </form>
                                    <form action="{{ url_for('opening') }}" method="POST" enctype="multipart/form-data">
                                        <button type="submit" class="btn btn-outline-primary col-md-12"><span style="white-space: normal;">Opening</span></button>
                                    </form>
                                    <form action="{{ url_for('closing') }}" method="POST" enctype="multipart/form-data">
                                        <button type="submit" class="btn btn-outline-primary col-md-12"><span style="white-space: normal;">Closing</span></button>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-md-12 mb-5 menu-section">
                    <div class="accordion" id="count-detection-accordion">
                        <div class="card">
                            <div class="card-header" id="count-detection-heading">
                                
                                    <button class="btn btn-link col-md-11" type="button" data-toggle="collapse" data-target="#count-detection-menu" aria-expanded="false" aria-controls="count-detection-menu">
                                        <div class="row">
                                            <div class="spacing-button col-md-1">

                                            </div>
                                            <div class="menu-text-areas col-md-8">
                                                <span style="white-space: normal;">Count Object</span>
                                            </div>
                                            <div class="icon-arrow col-md-2">
                                                <i class="fa fa-chevron-down" aria-hidden="true"></i>
                                            </div>
                                        </div>
                                    </button>
                                
                            </div>
                            <div id="count-detection-menu" class="collapse" aria-labelledby="count-detection-heading" data-parent="#count-detection-accordion">
                                <div class="card-body" style="padding: 0px !important;">
                                    <form action="{{ url_for('countObject') }}" method="POST" enctype="multipart/form-data">
                                        <button type="submit" class="btn btn-outline-primary col-md-12"><span style="white-space: normal;">Hasil</span></button>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-md-12 mb-5 menu-section">
                    <div class="accordion" id="digit-detection-accordion">
                        <div class="card">
                            <div class="card-header" id="digit-detection-heading">
                                
                                    <button class="btn btn-link col-md-11" type="button" data-toggle="collapse" data-target="#digit-detection-menu" aria-expanded="false" aria-controls="digit-detection-menu">
                                        <div class="row">
                                            <div class="spacing-button col-md-1">

                                            </div>
                                            <div class="menu-text-areas col-md-8">
                                                <span style="white-space: normal;">Digit Detection</span>
                                            </div>
                                            <div class="icon-arrow col-md-2">
                                                <i class="fa fa-chevron-down" aria-hidden="true"></i>
                                            </div>
                                        </div>
                                    </button>
                                
                            </div>
                            <div id="digit-detection-menu" class="collapse" aria-labelledby="digit-detection-heading" data-parent="#digit-detection-accordion">
                                <div class="card-body" style="padding: 0px !important;">
                                    <form action="{{ url_for('digit_detection') }}" method="GET" enctype="multipart/form-data">
                                        <button type="submit" class="btn btn-outline-primary col-md-12"><span style="white-space: normal;">Test Case By Lecturer</span></button>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>


            </div>
        </div>
    </div>
</div>

<style>
    .collapse {
        transition: height 0.4s ease-in-out, opacity 0.4s ease-in-out;
    }

    .card-header {
        background-color: var(--dark);
        border-left: 6px var(--dark) solid;
        border-radius: 0 !important;
        padding: 8px 0 !important;
    }

    .menu-text-areas, .card-body > form > button {
        text-align: left;
    }

    .card-body > form > button > span {
        margin-left: 15% !important;
    }
    
    .card {
        border: none;
    }

    .card-body .btn {
        border-radius: 0 !important;
        border-color: var(--dark) !important;
        background-color: var(--gray) !important;
        color: var(--light) !important;
    }

    .card-body .btn:hover {
        font-weight: bold !important;
    }
    
    .form-row .btn, #resulting_rgb .btn {
        border-radius: 30px !important;
    }

    .btn-link {
        color: var(--white);
    }

    .btn-link:hover {
        color: var(--white);
    }

    .card-header:hover, .active-header{
        border-left: 6px yellow solid;
    }

    .container-fluid {
        padding: 0 !important;
        overflow: hidden;
    }

    .container-fluid > .row {
        margin: 0 !important;
        height: 92vh;
    }

    .menu-left-part, .col-md-3 {
        padding-left: 0 !important;
        padding-right: 0 !important;
    }

    .menu-left-part > .jumbotron {
        min-height: 100%;
        padding: 0 !important;
        margin-bottom: 0 !important;
        background-color: var(--dark) !important;
    }
    
    .menu-left-part {
        width: calc(3/9*100vh);
        height: 100%;
        overflow-y: auto;
    }

    .menu-left-part::-webkit-scrollbar-thumb {
        background-color: #888; /* Color of the scrollbar thumb */
        border-radius: 4px; /* Rounded corners for the scrollbar thumb */
    }

    .menu-left-part > .jumbotron > .container {
        max-height: 100%;
    }

    .menu-section {
        margin-bottom: 0 !important;
        border: 1px var(--gray) solid !important;
        padding: 0 !important;
    }

    input[type="number"]::-webkit-inner-spin-button,
    input[type="number"]::-webkit-outer-spin-button {
        -webkit-appearance: none;
        appearance: none;
        margin: 0;
    }
</style>