{% extends 'layout.html' %}

{% block body %}
    <div class="container text-center">
        <h1 class="display-4 mt-5  mb-4">Hallo, JTK!</h1>
        <p class="lead">Ini adalah website yang menggunakan Flask dari Python. Website sederhana ini digunakan untuk menampilkan hasil pengolahan citra digital input pengguna. Teknologi yang digunakan salah satunya adalah Bootstrap untuk Front-End, dan ini cukup menyenangkan.</p>
        <hr>
        <!-- Card Start -->
        <div class="card mb-4 rounded-lg">
            <div class="card-header bg-primary text-white">
                <h2 class="card-title m-1">Informasi Mahasiswa</h2>
            </div>
            <div class="card-body">
                <ul class="list-unstyled bigger-list">
                    <li><strong>Nama Mahasiswa:</strong> Rachmat Purwa Saputra</li>
                    <li><strong>NIM:</strong> 211524054</li>
                    <li><strong>Kelas/Prodi:</strong> 3B/D4-Teknik Informatika</li>
                </ul>
            </div>
        </div>
        <!-- Card End -->
    </div>
{% endblock %}
