{% extends 'layout.html' %}

{% block body %}
    <div class="container text-center">
        <h1 class="display-4 mt-5  mb-4">Hai!</h1>
        <p class="lead">Ini adalah website yang menggunakan Flask dari Python. Website sederhana ini digunakan untuk menampilkan hasil pengolahan citra digital input pengguna. </p>
        <hr>
        <!-- Card Start -->
        <div class="card mb-4 rounded-lg">
            <div class="card-header bg-primary text-white">
                <h2 class="card-title m-1">Informasi Mahasiswa</h2>
            </div>
            <div class="card-body">
                <ul class="list-unstyled bigger-list">
                    <li><strong>Nama Mahasiswa:</strong> 221511003 | Athalie Aurora P</li>
                    <li><strong>Nama Mahasiswa:</strong> 221511007 | Canandra Eka M</li>
                    <li><strong>Nama Mahasiswa:</strong> 221511022 | Mutia Hardita</li>
                    <li><strong>Nama Mahasiswa:</strong> 221511032 | Xaviera Sadiya S</li>
                    
                </ul>
            </div>
        </div>
        <!-- Card End -->
    </div>
{% endblock %}
