{% extends 'layout.html' %}

{% block body %}
    <div class="container text-center my-5">
        <h1 class="display-4 mt-5 mb-4 text-primary">Hallo, JTK!</h1>
        <p class="lead text-secondary">Ini adalah website yang menggunakan Flask dari Python. Website sederhana ini digunakan untuk menampilkan hasil pengolahan citra digital input pengguna. Teknologi yang digunakan salah satunya adalah Bootstrap untuk Front-End, dan ini cukup menyenangkan.</p>
        <hr>
        <!-- Card Start -->
        <div class="card shadow mb-4 rounded">
            <div class="card-header bg-primary text-white">
                <h2 class="card-title m-1">Informasi Kelompok</h2>
            </div>
            <div class="card-body">
                <ul class="list-unstyled bigger-list">
                    <li><strong>Athalie Aurora</strong> (221511003)</li>
                    <li><strong>Canandra Eka</strong> (221511007)</li>
                    <li><strong>Mutia Hardita</strong> (221511022)</li>
                    <li><strong>Xaviera Sadiya</strong> (221511032)</li>
                </ul>
            </div>
        </div>
        <!-- Card End -->
    </div>
{% endblock %}
