{% extends "layout.html" %}
{% block body %}
<div class="container-fluid">
    <div class="row">
        <!-- Left Column Menu Part To Show the various menu available -->
        {% include "includes/_sidebar.html" %}

        <!-- Right Column Menu Part To Show the result of the menu -->
        <div class="menu-right-part col-md-9">
            <div class="container-fluid">
                <div class="jumbotron jumbotron-fluid">
                    <div class="container">
                        <div class="row">
                            {% if file_paths[2] %}
                            <div class="col-md-4">
                                <h3>Image RGB</h3>
                                <img class="img-fluid" src="{{ url_for('static', filename='img/img_now.jpg') }}" alt="image here">
                            </div>
                            <div class="col-md-8"></div>
                            <div class="col-md-4 mt-5">
                                <h3>Red Histogram</h3>
                                <img class="img-fluid" src="{{ url_for('static', filename=file_paths[0]) }}" alt="image here">
                            </div>
                            <div class="col-md-4 mt-5">
                                <h3>Green Histogram</h3>
                                <img class="img-fluid" src="{{ url_for('static', filename=file_paths[1]) }}" alt="image here">
                            </div>
                            <div class="col-md-4 mt-5">
                                <h3>Blue Histogram</h3>
                                <img class="img-fluid" src="{{ url_for('static', filename=file_paths[2]) }}" alt="image here">
                            </div>
                            {% else %}
                            <div class="col-md-5">
                                <h3>Image Greyscaled</h3>
                                <img class="img-fluid" src="{{ url_for('static', filename='img/img_now.jpg') }}" alt="image here">
                            </div>
                            <div class="col-md-1"></div>
                            <div class="col-md-6">
                                <h3>Black Histogram</h3>
                                <img class="img-fluid" src="{{ url_for('static', filename=file_paths[0]) }}" alt="image here">
                            </div>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    // take one element div called class "card-header" and checked if its clicked or not.
    // If clicked, the left border should always still there by adding classlist active
    // until the user click another menu
    const cardHeader = document.querySelectorAll('.card-header');

    cardHeader.forEach((header) => {
        header.addEventListener('click', () => {
            cardHeader.forEach((otherHeader) => {
                if (otherHeader !== header) {
                    otherHeader.classList.remove('active-header');
                }
            });
            header.classList.add('active-header');
        });
    });

</script>

<style>
    .menu-right-part {
        width: 100% !important;
        height: 100%;
        background-color: var(--light) !important;
    }
    
    .menu-right-part .container {
        min-width: 90% !important;
        max-height: 100%;
        overflow-y: auto; /* Enable vertical scrolling */
    }

    .menu-right-part  .container:hover {
        overflow-y: auto;
        scrollbar-width: 4px;
    }

    .menu-right-part .container::-webkit-scrollbar-thumb {
        background-color: #888; /* Color of the scrollbar thumb */
        border-radius: 4px; /* Rounded corners for the scrollbar thumb */
    }

    .menu-right-part > .jumbotron {
        height: 100%;
        width: 100% !important;
        padding-top: 0px !important;
        padding-bottom: 0 !important;
        margin-bottom: 0 !important;
        background-color: var(--light) !important;
    }
</style>
{% endblock %}