{% extends "layout.html" %} {% block body %}
<div class="jumbotron jumbotron-fluid m-0 d-flex flex-column justify-content-center">
    <div class="container text-center">
        <h1 class="display-3 mt-3 mb-5 align-self-center">Aplikasi Web Pengolah Citra Digital</h1>
    </div>
    <div class="container text-center">
        <h1>Welcome to Face Swap App</h1>
        <form action="{{ url_for('upload_image') }}" method="post" enctype="multipart/form-data" class="mt-4">
            <div class="form-group">
                <input type="file" name="file" accept="image/*" class="form-control-file" required>
            </div>
            <button type="submit" class="btn btn-primary mt-3">Upload and Start Face Swap</button>
        </form>
    </div>
</div>
<style>
    .jumbotron-fluid {
        padding: 0px !important;
        height: 92vh;
        background-color: #f8f9fa !important;
    }
    .container {
        max-width: 600px;
    }
    h1 {
        font-size: 2.5rem;
        margin-bottom: 1rem;
    }
    .form-group {A
        margin-bottom: 1.5rem;
    }
</style>
{% endblock %}
