{% extends "layout.html" %}
{% block body %}
<div class="container-fluid">
    <div class="row">
        <!-- Left Column Menu Part To Show the various menu available -->
        {% include "includes/_sidebar.html" %}

        <!-- Right Column (After) Part To Show the result image -->
        <div class="menu-right-part col-md-9">
                <div class="jumbotron jumbotron-fluid">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-12">
                                <h3 class="pt-4">Cara Penggunaan</h3>
                                <p>Hallo, Pengguna! <br>Silakan gunakan setiap menu yang ada di sebelah kiri layar Anda. Ketika salah satu menu utama ditekan, akan muncul sub-menu yang akan melakukan hal-hal terkait pengolahan citra ataupun penampilan informasi sesuai dengan menunya.</p>
                            </div>
                            <div class="col-md-12" id="resulting_rgb">
                                {% if dimension %}
                                    <h3>Detail gambar asli yang Anda unggah di awal: </h3>
                                    <img class="img-fluid" src="/static/img/img_normal.jpg"
                                    alt="image here">
                                    <h4 class="mt-3">Dimensi gambar: {{ width }} x {{ height }}</h3>
                                    {% if api_type=="not_all" %}
                                        <h5 class="mt-5">Menampilkan 20 baris data rgb per pixel:</h5>
                                    {% else %}
                                        <h5 class="mt-5">Menampilkan seluruh baris data rgb per pixel:</h5>
                                    {% endif %}
                                    <div class="row ml-2">
                                        <table border="1" class="table table-striped table-responsive mt-3" style="width: fit-content; border-radius: 12px;">
                                            <thead class="bg-secondary" style="color: var(--light);">
                                                <tr>
                                                    <th>Pixel</th>
                                                    <th>Red</th>
                                                    <th>Green</th>
                                                    <th>Blue</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                {% for pixel in pixels[0:rows] %}
                                                    <tr>
                                                        <td>{{ loop.index }}</td>
                                                        <td>{{ pixel[0] }}</td>
                                                        <td>{{ pixel[1] }}</td>
                                                        <td>{{ pixel[2] }}</td>
                                                    </tr>
                                                {% endfor %}
                                            </tbody>
                                        </table>
                                        <div class="column mt-3 ml-5 px-4 py-4 text-center border border-secondary" style="height: fit-content; border-radius: 16px;">
                                            <form class="mb-3" id="all_rgb_records" action="{{ url_for('display_rgb_values_all') }}" method="POST" enctype="multipart/form-data">
                                                <button class="btn btn-danger" style="padding-left: 20px !important; padding-right: 22px !important;">
                                                    Lihat {{ '{:,.0f}'.format(width*height) }} baris warna rgb tiap pixel
                                                </button>
                                            </form>
                                            <form action="{{ url_for('normal') }}" method="POST" enctype="multipart/form-data">
                                                <button class="btn btn-primary" style="padding-left: 20px !important; padding-right: 22px !important;">
                                                    Kembali ke halaman utama
                                                </button>
                                            </form>
                                        </div>

                                        <script>
                                            document.getElementById("all_rgb_records").addEventListener("submit", () => {
                                                const result = window.confirm('Yang akan Anda lakukan mungkin memakan waktu yang lama (tergantung ukuran dimensi gambar Anda). Lanjutkan?');

                                                if (result === true) {
                                                    this.action = "/rgb_value_normal_per_pixel_all";
                                                    this.submit();
                                                } else {
                                                    event.preventDefault();
                                                }
                                            });
                                        </script>
                                    </div>
                                {% else %}
                                    <!-- Original and After Manipulation images side by side -->
                                    <div class="row">
                                        <div class="col-lg-5 mr-0">
                                            <hr>
                                            <h3>Original Image</h3>
                                            <hr>
                                            <img class="img-fluid" src="/static/img/img_normal.jpg" alt="original image uploaded">
                                        </div>
                                        <div class="col-lg-1"></div>
                                        <div class="col-lg-6 mr-0">
                                            <hr>
                                            <h3>After Manipulation</h3>
                                            <hr>
                                            <img class="img-fluid" src="/static/img/img_now.jpg" alt="image after manipulation">
                                        </div>
                                    </div>
                                {% endif %}
                                
                            </div>
                        </div>
                    </div>
                </div>
        </div>
    </div>
</div>

<script>
    // Get all the elements with the class 'btn-link' (accordion buttons)
    const accordionButtons = document.querySelectorAll('.btn-link');

    // Add click event listeners to each accordion button
    accordionButtons.forEach((button) => {
        button.addEventListener('click', () => {
            // Get the collapse target associated with the clicked button
            const targetId = button.getAttribute('data-target');
            const targetCollapse = document.querySelector(targetId);

            // Close all other accordions except the one that was clicked
            accordionButtons.forEach((otherButton) => {
                if (otherButton !== button) {
                    const otherTargetId = otherButton.getAttribute('data-target');
                    const otherTargetCollapse = document.querySelector(otherTargetId);

                    // Close other accordions
                    otherTargetCollapse.classList.remove('show');
                }
            });
        });
    });
</script>

<script>
    // take one element div called class "card-header" and checked if its clicked or not.
    // If clicked, the left border should always still there by adding classlist active
    // until the user click another menu
    const cardHeader = document.querySelectorAll('.card-header');

    cardHeader.forEach((header) => {
        header.addEventListener('click', () => {
            cardHeader.forEach((otherHeader) => {
                if (otherHeader !== header) {
                    otherHeader.classList.remove('active-header');
                }
            });
            header.classList.add('active-header');
        });
    });

</script>

<style>
    .menu-right-part {
        width: 100% !important;
        height: 100%;
        background-color: var(--light) !important;
    }
    
    .menu-right-part .container {
        min-width: 90% !important;
        max-height: 100%;
        overflow-y: auto; /* Enable vertical scrolling */
    }

    .menu-right-part  .container:hover {
        overflow-y: auto;
        scrollbar-width: 4px;
    }

    .menu-right-part .container::-webkit-scrollbar-thumb {
        background-color: #888; /* Color of the scrollbar thumb */
        border-radius: 4px; /* Rounded corners for the scrollbar thumb */
    }

    .menu-right-part > .jumbotron {
        height: 100%;
        width: 100% !important;
        padding-top: 0px !important;
        padding-bottom: 0 !important;
        margin-bottom: 0 !important;
        background-color: var(--light) !important;
    }
</style>
{% endblock %}